@model IEnumerable<Proje.Models.EntitiyFramework.Kullanici>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kullanıcı Ana Sayfa</h2>
<p>
    <a href="~/Kullanici/Create/" class="btn btn-success" id="CreateButton">Yeni Kullanıcı</a><br>
</p>
<table class="table">
    <tr>
        <th>
            <label>Kullanıcı Adı</label>
        </th>
        <th>
            <label>Kullanıcı Şifresi</label>
        </th>
        <th>
            <label>Kullanıcı Rolü</label>
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Password)
            </td>
            <td style="vertical-align:middle">
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                @if (item.Name == HttpContext.Current.User.Identity.Name || item.Role != "Admin")
                {
                    <a href="~/Kullanici/Details/@item.Id" class="btn btn-primary" id="DetailsButton">Detaylar</a><label> |</label>
                }
                @if (item.Role != "Admin")
                {
                    <a href="~/Kullanici/Edit/@item.Id" class="btn btn-success" id="EditButton">Güncelle</a><label> |</label>
                    <a href="~/Kullanici/Delete/@item.Id" class="btn btn-danger" id="SilButton">Sil</a>
                }
            </td>
        </tr>
    }
</table>