@model Proje.Models.EntitiyFramework.Kullanici
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Profil</h2>

<div>
    <h4>Kullanıcı</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label>Kullanıcı Adı</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            <label>Kullanıcı Şifresi</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Password)
        </dd>

        <dt>
            <label>Kullanıcı Rolü</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Role)
        </dd>

    </dl>
</div>
<p>
    <a href="~/Departman/Index" class="btn btn-primary" id="iptalButton">Departman Listesi</a>
</p>
